# Server
HOST=0.0.0.0
PORT=1337

# Secrets for stapi if there

# Database
JWT_SECRET=**********
DATABASE_HOST=ep-calm-glitter-aowbjyfg-pooler.c-2.ap-southeast-1.aws.neon.tech
DATABASE_PORT=5432
DATABASE_NAME=neondb
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=***********
DATABASE_SCHEMA=public
DATABASE_SSL=true
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10



